.ssb-text-wrapper {
  @include open-sans;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.7;

  &.small-text {
    font-size: 14px;
  }

  &.negative {
    color: $ssb-white;
  }
}