$default-font-size: 16px;
$profiled-font-size: 18px;
$header-font-size: 18px;
$icon-padding: 8px;

.ssb-link {
  @include open-sans;
  align-items: center;
  background-image: linear-gradient(120deg, $ssb-green-4 0%, $ssb-green-4 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  border-bottom: 1px solid $ssb-green-4;
  color: $ssb-green-4;
  cursor: pointer;
  display: inline-flex;
  font-size: $default-font-size;
  line-height: 1.3;
  padding: 2px 2px 1px;
  position: relative;
  text-decoration: none;
  transition: background-size .2s ease-in, color .1s;

  &.header {
    font-size: $header-font-size;
    font-weight: bold;

    .link-text {
      color: $ssb-dark-6;
    }
  }

  &:hover {
    background-size: 100% 100%;
    color: $ssb-white;

    .link-text {
      color: $ssb-white;
    }
  }

  &.negative {
    background-image: linear-gradient(120deg, $ssb-green-2 0%, $ssb-green-2 100%);
    border-bottom: 1px solid $ssb-green-2;
    color: $ssb-green-2;

    .link-text {
      color: $ssb-green-2;
    }

    &.header {

      .link-text {
        color: $ssb-white;
      }
    }

    &.with-icon {
      padding: 2px 2px 0;
      border-bottom: none;

      .link-text {
        color: $ssb-white;
      }
    }

    &:hover {
      color: $ssb-dark-5;

      .link-text {
        color: $ssb-dark-5;
      }
    }
  }

  &.profiled {
    font-size: $profiled-font-size;
    font-weight: bold;
  }

  &.with-icon {
    padding: 2px 2px 0;
    border-bottom: none;

    .link-text {
      color: $ssb-dark-6;
    }
  }

  .link-text {
    color: $ssb-green-4;
    transition: color .1s;

    &:hover {
      color: $ssb-white;
    }
  }
}
