.ssb-title {
  color: $ssb-dark-6;

  &.negative {
    color: $ssb-white;
  }

  @at-root {

    h1#{&} {
      @include roboto-condenced;
      font-size: 56px;
      font-weight: bold;
      line-height: 1.4;
    }

    h2#{&} {
      @include roboto-condenced;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.5;
    }

    h3#{&} {
      @include roboto-condenced;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.6;
    }

    h4#{&} {
      @include roboto;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.7;
    }

    h5#{&} {
      @include roboto;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.7;
    }

    h6#{&} {
      @include roboto;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.7;
    }
  }
}
