.footer-wrapper {
  background: $ssb-dark-5;
  color: $ssb-white;
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: minmax(auto, $max-content-size);
  justify-content: center;
  padding: 80px 110px 45px;
  position: relative;

  .footer-grid-content {
    column-gap: 100px;
    display: grid;
    grid-template-columns: 280px auto;
  }

  p {
    color: $ssb-white;
  }

  .logo {
    color: $ssb-white;
    margin-top: -5px;
    width: 280px;
  }

  .social-links {
    a {
      color: $ssb-white;
      margin-left: $global-padding-size;

      &:hover {
        color: $ssb-green-3;
      }
    }
  }

  .scroll-to-top {
    left: 50%;
    position: absolute;
    right: 50%;
    top: -20px;
    width: fit-content;
  }
}
