$ssb-green-1: #e5fee6;
$ssb-green-2: #b6e8b8;
$ssb-green-3: #1a9d49;
$ssb-green-4: #00824d;
$ssb-green-5: #075745;
$ssb-blue-3: #3396d2;
$ssb-red-4: #c4351c;
$negative-red: #f8a67d;
$ssb-dark-2: #a2baba;
$ssb-dark-3: #6f9090;
$ssb-dark-4: #4b7272;
$ssb-dark-5: #274247;
$ssb-dark-6: #162327;
$ssb-white: #fff;
$ice-cold-grey: #ecf8f9;
$ssb-purple-3: #9575ff;

$mobile: 'screen and (max-width: 768px)';
$tablet: 'screen and (max-width: 992px)';
$desktop: 'screen and (min-width: 992px)';

// Use media queries like this:
//@media #{$mobile} { @content }

$input-field-height: 36px;
$global-padding-size: 10px;
$max-content-size: 1200px;

@mixin roboto {
  font-family: 'Roboto', sans-serif;
  font-stretch: normal;
  font-weight: normal;
}

@mixin roboto-condenced {
  font-family: 'Roboto Condensed', sans-serif;
  font-stretch: condensed;
  font-weight: bold;
}

@mixin open-sans {
  font-family: 'Open Sans', sans-serif;
  font-stretch: normal;
  font-weight: normal;
}

.no-margin {
  margin: 0;
}
