.article-list-ingress {
    --lh: 1.7rem;
    line-height: var(--lh);

    --max-lines: 2;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    padding-right: 1rem; /* space for ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
}
