.article {
  .snr-dates-wrapper {
    @include make-row;

    & > * {
      margin-right: $spacer * 1;
      margin-bottom: $spacer * 1;

      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
  }

  .author-wrapper {
    @include make-row;

    margin-bottom: $spacer * 1;

    & > * {
      @include make-col-ready();
      @include make-col(12);

      @include media-breakpoint-up(lg) {
        @include make-col(6);
        @include make-col-offset(1);
      }
    }
  }

  .part-fact-box {
    padding: 0;
  }

  .article-body {
    @include make-row;

    & > * {
      @include make-col-ready();
      @include make-col(12);

      &:not(.part-highchart):not(.part-divider) {
        @include media-breakpoint-up(lg) {
          @include make-col(6);
          @include make-col-offset(1);
        }
      }

      padding: 0;
    }

    & > * + section.part-divider, section.part-divider + * {
      margin-top: $spacer * 3;
    }
  }

  .external-links-component {
    @include make-row;

    & > * {
      @include make-col-ready();
      @include make-col(4);
      margin-bottom: $spacer * 1;

      @include media-breakpoint-down(md) {
        @include make-col(12);
      }
    }
  }

  blockquote  {
    padding-left: 40px !important;
  }
}
