.article-list-ingress span {
    white-space: nowrap;
}

.article-list {
    margin-top: 80px;
  
    h3 {
      font-size: 28px;
      margin-bottom: 30px;
      font-family: $font-roboto-condensed-bold;
      font-weight: 700;
    }
}