.part-associated-article-archives {
  @include make-row;

  margin-top: $spacer * 2.5;
  padding: 0;

  & > * {
    @include make-col-ready();
    @include make-col(12);
    
    div {
      margin-top: $spacer * 0.5;

      & > * {
        margin-bottom: $spacer * 1;
      }
    }
  }
}
