@use 'bootstrap' as *;
@use '@statisticsnorway/ssb-component-library/src/main.scss' as *;

.attachment-tables-figures {
  .part-accordion {
    div ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  h2 {
    margin-bottom: $spacer * 3;
  }

  .accordion-header {
    .sub-header {
      width: 75px;
    }
  }

  .accordion-body {
    padding-right: 0;
  }

  .ssb-accordion {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .free-text-wrapper {
    background: $ssb-dark-1;
    margin-left: auto;
    margin-right: auto;
    padding: $spacer * 3;

    @include media-breakpoint-down(md) {
      padding-top: $spacer * 3;
      padding-left: $spacer * 1;
      padding-bottom: $spacer * 3;
      padding-right: $spacer * 1;
    }
  }

}

 .about-statistics-summary.has-subheader .subheader {
    display: inline-block;
    font-weight: bold;
    width: 4rem;               
    margin-right: var(--ds-size-1);
    white-space: nowrap;
    overflow: hidden;
  } 
