.button-search {
  cursor: pointer;
  padding-top: 2px;
  height: 50px;
  width: 56px;
  top: 0;
  right: 0;
  background-color: transparent;
  svg {
    .cls-1 {fill:#fff;}
    .cls-1, .cls-2 {stroke:#274247;stroke-miterlimit:10;stroke-width:2px;}
    .cls-2 {fill:none;stroke-linecap:round; }
    width: 32px;
  }
}
.btn-primary {
  border-color: $green3;
  background-color: $green3;
}
.btn-primary:hover {
  border-color: $green4;
  background-color: $green4;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem $green4;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
  background-color: $green4;
  border-color: $green4;
}
.btn-primary.disabled, .btn-primary:disabled {
  border-color: $green2;
  background-color: $green2;
}
