.part-kpi-calculator {

  .kpi-calculator {
    border: solid 1px $ssb-dark-5;
    border-top: 4px solid $green3;

    .calculator-form {
      padding: 60px 100px;

      .publish-text {
        margin-bottom: 0;
        padding: 0;
      }

      .month, .start-value {
        width: 280px;
      }

      .input-amount {
        padding-top: 32px;
        padding-bottom: 32px;
      }

      .input-year {
        width: 140px;
      }

      .submit {
        padding-top: 32px;
      }
    }

    .calculator-result {
      padding: 60px 100px;
      border-top: solid 1px $ssb-dark-5;
      background-color: $ssb-dark-1;

      .amount-equal {
        @include roboto;
        font-size: 20px;
      }

      .end-value {
        @include roboto-condenced ;
        font-size: 56px;
      }

      .info-title {
        @include roboto;
        font-weight: bold;
      }
    }

    .calculator-error {
      padding: 0 100px 60px 100px;
    }

    @include media-breakpoint-down(sm) {

      .calculator-form {

        .month, .start-value {
          width: 100%;
        }

      }
    }

    @include media-breakpoint-down(md) {

      .calculator-form {
        padding: 20px;
        
        .select-month {
          padding: 0;
          margin-bottom: 10px;
        }

        .select-year {
          padding: 0;
        }
  
        .calculate-from, .calculate-from {
          margin-bottom: 20px;
        }

      }

      .calculator-error, .calculator-result {
        padding: 20px;
      }

    }
  }
}