.cookie-banner {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 664px;
  padding: 28px;
  background: $ssb-green-4;
  border-radius: 8px;
  z-index: 2147483647;

  &-title,
  &-text {
    color: $ssb-white;
  }

  &-title {
    font-size: 20px;
  }

  &-text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &-buttons {
    display: flex;
    gap: 16px;
    margin-top: 20px;

    .cookie-button-accept,
    .cookie-button-decline {
      background: $ssb-white;
      color: $ssb-green-4;
    }
  }

  &:focus-visible {
    outline: 2px solid $ssb-purple-3;
    outline-offset: 2px;
  }

  @media (max-width: 723px) {
    left: 50%;
    transform: translateX(-50%);
    width: 325px;
    padding: 28px 20px;
    flex-direction: column;

    &-title,
    &-text,
    &-link {
      width: fit-content;
    }

    &-text {
      margin-bottom: 20px;
    }

    &-link {
      margin-bottom: 28px;
    }

    &-buttons {
      flex-direction: column;
      gap: 12px;

      .cookie-button-accept,
      .cookie-button-decline {
        width: 285px;
        line-height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
