$font-roboto: Roboto, sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-base: 16px;
$font-bold: 700;
$font-normal: 400;
$color-white: $ssb-white;
$color-bg: $ssb-green-4;
$button-height: 44px;
$button-padding: 8px 20px;
$button-radius: 2px;
$content-width: 608px;

.cookie-banner {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 664px;
  height: 332px;
  padding: 28px;
  background: $color-bg;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2147483647;

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-title,
  &-text,
  &-link {
    font-size: $font-base;
    color: $color-white;
    margin-bottom: 16px;
  }

  &-title {
    font-family: $font-roboto;
    font-size: 20px;
    font-weight: $font-bold;
    width: $content-width;
    height: 32px;
    margin: 0 0 16px;
  }

  &-text,
  &-link {
    font-family: $font-opensans;
    font-weight: $font-normal;
  }

  &-text {
    width: $content-width;
    height: 112px;
  }

  &-link {
    width: 569px;
    height: 28px;
    text-decoration: underline solid 0;
    text-underline-offset: 0;
    display: inline-block;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &-buttons {
    display: flex;
    gap: 16px;

    .cookie-button-accept,
    .cookie-button-decline {
      height: $button-height;
      padding: $button-padding !important;
      border-radius: $button-radius !important;
      font: $font-bold $font-base $font-roboto;
      background: $color-white !important;
      color: $color-bg !important;
    }

    .cookie-button-accept {
      border: none !important;
      width: 113px;
    }

    .cookie-button-decline {
      border: 2px solid $color-white !important;
      width: 156px;
    }
  }
}

@media (max-width: 723px) {
  .cookie-banner {
    left: 50%;
    transform: translateX(-50%);
    width: 325px;
    height: 524px;
    padding: 28px 20px;
    justify-content: flex-start;

    &-title,
    &-text,
    &-link {
      width: 285px;
    }

    &-text {
      height: 252px;
    }

    &-link {
      margin-bottom: 28px;
    }

    &-buttons {
      flex-direction: column;
      gap: 12px;

      .cookie-button-accept,
      .cookie-button-decline {
        width: 285px;
        line-height: 28px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
