.part-dashboard {
  .dataset:before {
    content: "\25CF";
    margin-right: 5px;
  }
  .dataset-ok:before {
    color: green;
  }
  .dataset-missing:before {
    color: red;
  }

  .alert {
    position: fixed;
    top: 20%;
    left: 20%;
    right: 20%;
  }
}
