@use 'bootstrap' as *;
@use '@statisticsnorway/ssb-component-library' as component-lib;

.part-download-link {
  @include make-row();

  > * {
    @include make-col-ready();
    @include make-col(12);

    display: flex;
    justify-content: center;
    margin-bottom: $spacer * 1;

    .download-icon {
      color: component-lib.$ssb-white;
      margin-right: 5px;
    }

    @include media-breakpoint-down(md) {
      & > .ssb-btn {
        white-space: normal;
        width: 100%;
      }
    }
  }
}



