.employee {

  .employee-head {
    display: flex;
    align-items: center;

    .employee-image img {
      width: 96%;  
    }

    .employee-title h1 {}
  }

  .employee-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.2rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #c3dcdc;

    > div {
      width: 24%;
      padding-top: .5rem;
      border-top: 1px solid #c3dcdc;
      display: flex;

      .position-icon {}

      .email-icon {}

      .phone-icon {}

      .department-icon {}

      > div {
        margin-left: .5rem;
        font-family: OpenSans;
        font-size: 20px;
        line-height: 1.6;

        > span {
          font-weight: 800;
          a {
            font-weight: 800;
          }
        }
      }
    }
  }
  
  .employee-description {
    margin: 2rem 0;

    > div {
      
      p {
        font-size: 20px;
        line-height: 1.6;
      }
      
      div {
        display: flex;
  
        button {
          margin: .2rem;
        }
      }

    }
    
  }

  .employee-projects {
    margin-top: 2rem;
  }

  .employee-publications {
    margin-top: 2rem;
  }
}