.employee {
  .container {
    padding-top: 0!important;
  }

  .employee-head {
    display: flex;
    align-items: center;

    .employee-image img {
      width: 280px;
      height: 350px;
      object-position: top;
      object-fit: cover;

      @include media-breakpoint-down(md) {
        width: 168px;
        height: 210px;
        object-position: top;
        object-fit: cover;
      }
    }

    .employee-title {
      margin-left: 1.33%;
    }
  }

  .employee-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.2rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #c3dcdc;

    .details-block {
      width: 24%;
      padding-top: 1.5rem;
      border-top: 1px solid #c3dcdc;
      display: flex;

      > div {
        margin-left: .5rem;
        font-family: $font-open-sans;
        font-size: 20px;
        line-height: 1.6;

        > span {
          font-weight: 800;
          a {
            font-weight: 800;
          }
        }
      }
    }

    .ssb-link {
      display: inline-flex;
      height: 44px;
      font-size: 20px;
    }
  }

  .employee-attachments {
    padding: 0 2rem 0 0;

    .instructions {
      margin-top: 2rem;

      h2 {
        font-size: 22px;
      }
    }

    .grid-row {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 1rem;
      padding: 0 4px;
      
      .grid-column {
        flex: 45%;
        max-width: 45%;
      }
      
      .grid-column a div img {
        width: 100%;
        height: 125.19px;
        object-fit: cover;
      }
      
      .grid-column a div a .link-text {
        font-size: 14px;
      }
    }
    
    .downloadCv {
      margin-top: 2.5rem;

      a {
        display: inline-block;
      }
    }
  }

  .employee-description {
    margin: 2rem 0;

    > div {
      
      div {
        display: flex;
        flex-wrap: wrap;
  
        button {
          margin: .2rem;
        }
      }

    }
  }

  .employee-projects {

    > ul {
      list-style: none;
      padding-left: 0;
    }

    > ul li {
      margin-top: 1rem;

      a span {
        display: inline-block;
        height: 44px;
      }
    }
  }

  .employee-publications {
    margin-top: 2rem;

    > div {
      margin-top: 1.5rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .employee {
    .desktop-display-none {
      display: none;
    }

    .row-gutter-desktop {
      --bs-gutter-x: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  .employee {
    .employee-head {
      flex-direction: column;
      align-items: flex-start;

      .employee-title {
        margin-left: 0;
      }
    }

    .employee-details {
      flex-direction: column;
      padding-bottom: 0rem;
      border-bottom: none;
      margin-bottom: 0px;
      
      .details-block {
        width: 100%;
        padding: 1rem 0;
      }
    }

    .mobile-display-none {
      display: none;
    }

    .row .employee-attachments {
      padding: 0;

      .instructions {
        margin-top: 0;
      }

      .grid-row {
        grid-gap: .7rem;
        padding: 0;
        
        .grid-column {
          flex: 22%;
          max-width: 22%;
        }
      
        .grid-column a div img {
          height: 100.15px;
        }

        .grid-column a div a .link-text {
          font-size: 12px;
        }
      }
    }

    .employee-description .desktop-display-none > div > button {
      margin: 0;
    }

    div .row-gutter-mobile {
      --bs-gutter-x: 0;
    }
  }
}