.part-entry-links {
    h3 {
        font-size: 28px;
        font-family: $font-roboto-condensed-bold !important;
        font-weight: bold;
    }

    .desktop-icons {
        max-width: 80px;
    }
    
    .mobile-link-icon{
        .icon-wrapper{
            margin-top: 0px;
            margin-right: 6px;
            
            .box-mobileIcon {
                svg {
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }
}
