.external-card {
  border: 1px solid $ssb-dark-2;
  background-color: $ssb-white;

  &:hover {
    border: 1px solid $ssb-green-4;
  }

  img {
    padding: 25px 125px;
  }
  a.ssb-link {
    margin-bottom: 25px;
  }
}