@use '@statisticsnorway/ssb-component-library/src/style/_variables' as component-lib;

.external-card {

  &.ssb-card {

  .card-content {
    border-top: 1px solid component-lib.$ssb-dark-2;
  }

  .clickable {

    &:hover {
      .card-content {
        border-top: 1px solid component-lib.$ssb-green-4;
      }
    }
  }
  }
}
