// .factbox {
//   h2 {
//     font-family: $font-roboto-bold;
//     text-transform: uppercase;
//     color: white;
//     background-color: #0774d0;
//     margin: 0;
//     padding: 20px;
//     padding-left: 20px;
//     border-bottom: 20px solid #f2f2f2;
//   }
//   h3 {
//     font-family: $font-roboto-bold;
//     font-size: 1.4em;
//     padding: 20px;
//     margin: 0;
//     border: 20px solid #f2f2f2;
//     border-bottom: none;
//     padding-bottom: 0;
//   }
//   section + section {
//     margin: 0;
//   }
//   >.col-12 section {
//     // border: 20px solid #f2f2f2;
//   }
//   >.col-12 section+section {
//     border-top: none;
//   }
//   >.col-12 section:first-child {
//     border: none;
//   }
//   section + section h2 {
//     margin-top: 40px;
//   }
//   .key-figures {
//     padding: 20px;
//     border-right: 20px solid #f2f2f2;
//     border-left: 20px solid #f2f2f2;
//   }
// }
