$font-roboto-plain: 'Roboto', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;

.roboto-bold {
  font-family: $font-roboto-plain;
  font-weight: 700;
}

.roboto-condensed-bold {
  font-family: $font-roboto-condensed;
  font-weight: 700;
}

.roboto-plain {
  font-family: $font-roboto-plain;
  font-weight: 400;
}
