$font-roboto-plain: 'roboto', sans-serif;
$font-roboto-condensed: 'roboto Condensed', sans-serif;

.component-lib.roboto-bold {
  font-family: $font-roboto-plain;
  font-weight: 700;
}

.component-lib.roboto-condensed-bold {
  font-family: $font-roboto-condensed;
  font-weight: 700;
}

.component-lib.roboto-plain {
  font-family: $font-roboto-plain;
  font-weight: 400;
}
