.part-frontpage-keyfigures {
  background: $ssb-dark-5;
  padding: 60px 160px 60px 160px;

  .keyfigure {
    background: $ssb-white;
    padding: 20px;
    min-height: 176px;

    .number-section {
      @include roboto;
      margin-top: 8px;

      .number-description {
        font-size: 16px;
      }

      .no-number {
        color: $ssb-dark-3;
        font-size: 20px;
        font-weight: bold;
      }
    }

  }

}
