header {
  &.ssb-header-wrapper{
    padding: 0;

    nav {
      .ssb-link {
        margin-left: 20px;
      }
    }

    .ssb-tabs {
      justify-content: space-between;
    }
  }
  .tabItem {
    margin-bottom: 40px;
    flex-grow: 1;
    overflow: hidden;

    .subMenu {
      color: #2d6975;
      height: 0;
      overflow: hidden;

      &.visible {
        height: auto
      }
    }

    ol {
      list-style: none;
      padding: 0;

      li {
        margin: 20px 0;

        a.ssb-link.with-icon {
          .link-text {
            color: #2d6975;
          }
        }

        img {
          width: 12px;
        }
      }
    }

    &:hover {
      ol {
        li {
          a.ssb-link.with-icon {
            .link-text {
              color: black;
            }
          }

        }
      }
    }

  }
}
