.part-highchart {
  .highcharts-credits {
    display: none;
  }
  .highcharts-figure {
    margin: 0;
  }
  @include media-breakpoint-down(sm) {
    .col-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.btn-highchart-export {
  z-index: 200;
  bottom: 60px;
  right: 10px;
  background-color: transparent;
  font-size: 14px;

  @include media-breakpoint-down(sm) {
    bottom: 55px;
  }

  i {
    color: $ssb-green-4;
    pointer-events: none;
  }
  span {
    pointer-events: none;
  }
}
.hc-container {
  .footnote {
    font-size: 12px;
    padding-left: 16px;
  }
  @include media-breakpoint-down(sm) {
    .footnote {
      position: absolute;
      bottom: -30px;
      font-size: 10px;
      line-height: 14px;
      z-index: 3;
    }
  }
}
.highcharts-canvas {
  min-height: 500px;
  height: auto;
  width: 100%;

  //TODO: remove min-heights for mobile when responsive configs are implemented
  @include media-breakpoint-down(sm) {
    min-height: auto;
    height: auto;
    width: 100%;

    .highcharts-container, .highcharts-root, .highcharts-background {
      min-height: 300px !important;
    }
  }
}
.highcharts-figure.hide-title .highcharts-title, .highcharts-subtitle {
  fill: transparent !important;
}

.show-datatable {

  .highchart-title {
    font-size: 20px;
    @include roboto;
    font-weight: bold;
  }

  .highchart-subtitle {
    font-size: 14px;
  }
}

 .highcharts-data-table {
    overflow-x: auto;
} 