.part-infoGraphic {
  h2 {
      margin-bottom: 40px;
  }
  .infoGraphic-wrapper {
      width: 100%;

    img {
      max-width: 100%;
    }
  }
  .container {
      min-height: 400px;
  }
  .border-top-green {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  .footnote {
      list-style-type: none;
      margin-top: 40px;
      padding-left: 0;

    li {
        margin-top: 5px;
    }
  }
  .source-title {
      display: block;
      margin-top: 40px;
      margin-bottom: 0px;

  }
  .sources {
      margin-top: 0px;
  }

  @include media-breakpoint-down(md) {
    .border-top-green {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

  }
}
