.part-infoGraphic {

  h2 {
      margin-bottom: 20px;
  }
  .infoGraphic-wrapper {
      width: 100%;
  }
  .container {
      min-height: 400px;
  }
  .border-top-green {
      width: 100%;
  }
  .footnote {
      list-style-type: none;
      margin-top: 20px;
      padding-left: 0;

    li {
        margin-top: 5px;
    }
  }
  .source-title {
      margin-bottom: 10px;
  }
  .sources {
      margin-top: 5px;
  }
}