.key-figures {
  // TODO fix pass-through of className in component system on KeyFigure so we can use .w-100
  .ssb-key-figures {
    width: 100%;
  }

  & .divider:not(:last-child) {
    @include media-breakpoint-down (md) {
      border-bottom: 1px solid #cccccc;
      padding-bottom: 50px;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}