.border-top-green {
  position: relative;
  border-top: 5px solid $green3;
  background: #ffffff;
  box-shadow: 1px 1px 5px #c8c8c8;
  margin-top: 0px;
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  >* {
    margin-left: 100px;
    margin-right: 100px;
    @include media-breakpoint-down(md) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
.layout-topic + .layout-topic {
  margin-top: 40px;
}
.grey-triangle {
  position: relative;
  background-color: $ssb-dark-5;
  height: 100px;
  width: 100%;
  margin: 0;

  &:after{
    top: 100px;
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    border-width: 33vw 49.6vw;
    border-style: solid;
    border-color: $ssb-dark-5 rgba(0,0,0,0) rgba(0,0,0,0) $ssb-dark-5;
  }

  @include media-breakpoint-down(md) {
    min-height: 230px;

    &:after {
      visibility: hidden;
    }
  }
}
.grey-triangle + .container {
  margin-top: -50px;
  position: relative;
}
.layout-topic {
  h2 {
    font-size: 52px;
    padding-left: 15px;
    border-left: 5px solid $ssb-green-3;
    margin-bottom: 0;
  }
  .xp-part:first-child {
    padding-top: 0px;
    border-top: none;
  }
  & > .row > .container + .container {
    margin-top: $spacer * 3;
  }
}
.container {
  @include media-breakpoint-down(md) {
    padding-left: 0;
    padding-right: 0;
  }
}