.part-menu-dropdown {
  background-color: white;
  .container {
    z-index: 3;
  }
  .container >div {
    min-height: 92px;
    @include media-breakpoint-down(md) {
      flex-direction: column !important; // Override d-flex
    }
  }
  .title-container {
    min-height: 92px;
    @include media-breakpoint-down(md) {
      margin-left: 10px;
    }
    @include media-breakpoint-down(sm) {
      .municipality {
        max-width: 70vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .opacity-zero {
    opacity: 0;
  }
  .opacity-one {
    opacity: 1;
    transition: all .5s;
  }
  .municipality {
    font-size: 20px;
    line-height: normal;
  }
  .subtitle {
    font-size: 14px;
  }
  .dropdown {
    left: 0;
  }
  .dropdown-menu {
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30vh;
    min-width: 100%;
  }
  .show-map {
    margin-left: 30px;
    text-decoration: none;
    color: #030303;
    &:focus {
      border: $ssb-green-4 1px solid;
    }
    i {
      color: $green4;
    }
    i.map {
      padding: 3px 5px 5px 5px;
    }
    i.chevron svg {
      transform: rotate(0deg);
      transition: all .5s;
    }
    &[aria-expanded="true"]{
      i.map {
        color: white;
        background-color: $ssb-green-4;
      }
      i.chevron svg {
          transform: rotate(-180deg);
          transition: all .5s;
        }
    }
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 30px;
      right: 55px;
    }
  }
  .ssb-dropdown {
    width: 100%; // Override design system
    min-width: 100%; // Override design system
    max-width: 100%; // Override design system
  }
  .show-search {
    color: $ssb-green-4;
    right: 0px;
    i.search {
      padding: 3px 5px 5px 5px;
    }
    &[aria-expanded="true"] {
      i.search {
        color: white;
        background-color: $ssb-green-4;
      }
    }
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 33px;
      right: 65px;
    }
  }
  .btn-drawer-toggler {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }

  #search-container {
    display: flex;
    align-items: center;
  }
  .card {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
    }
    align-items: center;
    border: none;
  }
  @include media-breakpoint-down(md) {
    .title-choose-municipality {
      padding-left: 20px;
      font-size: 28px;
    }
    .card {
      border-radius: 0;
      align-items: normal;
    }
    #search-container {
      border-top: 1px solid $ssb-green-2;
      width: 100%;
      top: 92px;
      position: absolute;
      border-bottom: 1px solid #aaaaaa;
      background-color: #ffffff;
      padding: 20px;

      &.choose-municipality-search {
        border: none;
        padding: 20px 20px 20px 40px;
      }
      &.hide-search {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .title-container {
      margin-left: 20px;
    }
    #search-container {
      padding: 20px;
    }
  }
}
