.part-menu-dropdown {
  background-color: white;
  .container {
    z-index: 3;
  }
  .sticky-content {
    min-height: 92px;
  }
  .opacity-zero {
    opacity: 0;
  }
  .opacity-one {
    opacity: 1;
    transition: all .5s;
  }
  .municipality {
    font-size: 20px;
    line-height: normal;
  }
  .subtitle {
    font-size: 14px;
  }
  #search-container {
    display: flex;
    align-items: center;

    .change-municipality {
      margin-right: $spacer * 1.5;
    }

    .choose-municipality-search {
      display: flex;
      align-items: center;
    } 
  }

  .show-map {
    margin-left: 30px;
    text-decoration: none;
    color: #030303;
    &:focus {
      border: $ssb-green-4 1px solid;
    }
    i {
      color: $green4;
    }
    i.map {
      padding: 3px 5px 5px 5px;
    }
    i.chevron svg {
      transform: rotate(0deg);
      transition: all .5s;
    }
    &[aria-expanded="true"]{
      i.map {
        color: white;
        background-color: $ssb-green-4;
      }
      i.chevron svg {
          transform: rotate(-180deg);
          transition: all .5s;
        }
    }
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 30px;
      right: 55px;
    }
  }
  .ssb-dropdown {
    width: 100%; // Override design system
    min-width: 100%; // Override design system
    max-width: 100%; // Override design system
  }
  .show-search {
    color: $ssb-green-4;
    right: 0px;
    i.search {
      padding: 3px 5px 5px 5px;
    }
    &[aria-expanded="true"] {
      i.search {
        color: white;
        background-color: $ssb-green-4;
      }
    }
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 33px;
      right: 65px;
    }
  }
  .btn-drawer-toggler {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }

  
  @include media-breakpoint-down(md) {
    .title-container {
      min-height: 0;
    }
    .sticky-content {
      min-height: 0;
    }
    .title-choose-municipality {
      padding-left: 20px;
      font-size: 28px;
    }

    .container >div {
      flex-direction: column !important; // Override d-flex
    }
    
    #search-container {
      border-top: 1px solid $ssb-green-2;
      width: 100%;
      top: 0;
      position: absolute;
      border-bottom: 1px solid #aaaaaa;
      background-color: #ffffff;
      padding: 20px;

      &.choose-municipality-search {
        border: none;
      }
      .hide-map {
        display: none;
      }
    }
  
    &.fixed-top{
      .sticky-content {
        min-height: 50px;
      }
      .title-container {
        width: 100%;
        justify-content: start;
        min-height: 50px;
        margin-top: 25px;
        
        .title-choose-municipality {
          padding: 0;
        }
      }

      #search-container {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .title-container {
      margin-left: 40px;

      .municipality {
        max-width: 70vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
