@use 'bootstrap' as *;

.menu-box {
  & > div {
    //@include make-row();
    
    & > .ssb-card {
      @include make-col-ready();
      @include make-col(4);
      margin-bottom: 20px;

      @include media-breakpoint-down(md) {
        @include make-col(12);
      }

      & > a {
        width: 100%;
      }

      &.fixed-height {
        @include media-breakpoint-up(md) {
          height: 370px;

          & > div {
            height: 100%;
          }
  
          .card-content {
            height: 100%;

            .card-text {
              width: 100%;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
  
          &.title-size-md .card-content .card-text{
            -webkit-line-clamp: 2;
          }
          &.title-size-lg .card-content .card-text{
            -webkit-line-clamp: 1;
          }
        }
      }
      
    } 
  }

  .menu-boxes{
    display: grid;
    gap: var(--ds-size-4);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .menu-box__card-link {
  display: block;
  text-decoration: none;
  color: inherit;          // ikke bruk blå lenkefarge, arve vanlig tekstfarge
}

  .ds-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .ds-card__block:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--ds-size-4);
  }

  /* Selve bildet – fast, lik størrelse på alle */
  .ds-card__block:first-child img {
    max-height: 150px;
    object-fit: contain; 
    display: block;
  }
}
