.part-menu-dropdown {
  background-color: white;
  .container {
    z-index: 3;
  }
  .container >div {
    min-height: 92px;
    @include media-breakpoint-down(md) {
      flex-direction: column !important; // Override d-flex
    }
  }
  .title-container {
    min-height: 92px;
    @include media-breakpoint-down(md) {
      margin-left: 10px;
    }
    @include media-breakpoint-down(sm) {
      .municipality {
        max-width: 70vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .opacity-zero {
    opacity: 0;
  }
  .opacity-one {
    opacity: 1;
    transition: all .5s;
  }
  .municipality {
    font-size: 20px;
    line-height: normal;
  }
  .subtitle {
    font-size: 14px;
  }
  .dropdown {
    left: 0;
  }
  .dropdown-menu {
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30vh;
    min-width: 100%;
  }
  .show-map {
    margin-left: 30px;
    text-decoration: none;
    color: #030303;
    i {
      color: $green4;
    }
    i.map {
      padding: 3px 5px 5px 5px;
    }
    i.chevron svg {
      transform: rotate(0deg);
      transition: all .5s;
    }
    &.active i.chevron svg {
      transform: rotate(-180deg);
      transition: all .5s;
    }
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 30px;
      right: 70px;
    }
  }
  .show-search.active i.search {
    color: white;
    background-color: $ssb-green-4;
  }
  .show-map.active i.map {
    color: white;
    background-color: $ssb-green-4;
  }
  .ssb-dropdown {
    width: 100%; // Override design system
    min-width: 100%; // Override design system
    max-width: 100%; // Override design system
  }
  .show-search {
    padding: 3px 5px 5px 5px;
    color: $ssb-green-4;
    right: 0px;
    top: 30px;
  }
  .btn-drawer-toggler {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
  .card {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
    }
    align-items: center;
    border: none;
  }
  @include media-breakpoint-down(md) {
    .title-container {
      margin-left: 10px;
    }
    .card {
      border-radius: 0;
      padding: 20px 40px;
      align-items: normal;
    }
    #search-container {
      border-top: 1px solid #aaaaaa;
      width: 100%;
      top: 92px;
      position: absolute;
      border-bottom: 1px solid #aaaaaa;
    }
  }
  @include media-breakpoint-down(sm) {
    .card {
      padding: 20px 10px;
    }
  }
}
