.nextStatisticsReleases {
  margin-top: 80px;

  h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  article {
    display: flex;

    &.first .releaseList {
        border-top: 2px solid black;
    }
  }
  .releaseList {
    list-style: none;
    border-bottom: solid 1px #c3dcdc;
    padding: 0;
    width: 100%;

    &:first-child {
      background: orange
    }
  }
  time {
    border: solid 2px black;
    width: 102px;
    height: 80px;
    margin: 3.5px 20px 3px 0;
    text-align: center;

    .day {
      font-size: 40px;
      font-family: $font-roboto-condensed-bold;
      line-height: 1;
      display: block;
      margin-top: 7px;
    }

  }
}
