.project {
  .project-details {
    justify-content: space-between;
    border-bottom: 1px solid #c3dcdc;

    .details-block {
      border-top: 1px solid #c3dcdc;
      > div {
        font-size: 20px;
        line-height: 1.6;
      }
      >  a {
        font-weight: 800;
      }
      .detail-info {
        font-weight: 700;
      }
    }
  }

  .center {
    max-width: 680px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .project-ingress {
    > p {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 0px;
    }
  }

  .project-paragraph {
    > p {
      font-size: 16px;
      font-stretch: normal;
      font-weight: 400;
      line-height: 28px;

    }
  }

 @include media-breakpoint-up(lg) {
   .center-accordion {
     margin-left: auto !important;
     margin-right: auto !important;
   }
 }
}