.publication-archive {
    .publication-archive-head {
      background-color: $ssb-dark-1;

      .publication-archive-ingress {
        max-width: 780px
      }
    }

    .publication-archive-body {
      & > * {
        max-width: 580px;
      }
    }
    .defineContentPhrase{
      font-family: Roboto,sans-serif!important;
      font-stretch: normal;
      font-weight: 400;
      font-weight: 700;
      margin: 0 0 0 0;
      color: #162327;
      font-size: 16px;
      padding-bottom: 8px;
    }
}
