.publication-archive {
    .publication-archive-head {
      background-color: $ssb-dark-1;

      .publication-archive-ingress {
        max-width: 780px
      }
    }

    .publication-archive-body {
      & > * {
        max-width: 580px;
      }  
    }
}