.researchers {

	.row .container {
		max-width: 1180px;

		p {
			inline-size: 50%;
		}
	}

	.banner {
		height: 404px;
		margin: 2rem 0;
		padding: 4rem 0;
		background-color: #f0f8f9;
	}

	.letter-list:first-of-type {
		margin-top: 0.8rem;
	}
	
	.letter-list {
		display: flex;
		flex-direction: column;
		padding-left: 0;

		.list-item {
			width: 100%;
			margin: 0.5rem 0 1.5rem 0;
			display: flex;
			
			.letter {
				width: 80px;
				height: 80px;
				min-width: 80px;
				max-width: 80px;
				padding-top: 10px;
				margin: .5rem 1rem 0 0;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 2px solid $ssb-dark-5;
				background: white;
				color: $ssb-dark-5;
			
				h2 {
					font-size: 40px;
				}
			} 
			
			.empty-letter {
				min-width: 80px;
				max-width: 80px;
				margin: .5rem 1rem 0 0;
			}
			
			.list {
				width: 100%;
				display: flex;
				justify-content: space-between;
				list-style: none;
			
				> div > div > span > a > .link-text {
					font-size: 14px;
				}

				.list-arrow {
					display: flex;
					align-items: center;
					justify-content: flex-end;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.researchers {

		.banner {
			height: 388px;
			width: 100vw;
      position: relative;
      left: 50%;
      margin-left: -50vw;

			.container {
				padding: 0 20px;

				p {
					inline-size: 100%;
				}
			}
		}

		.row .container div p { 
			inline-size: 100%;
		}
		
		.letter-list .list-item {
			flex-direction: column;

			.letter {
				margin-bottom: 0.5rem;
				width: 72px;
				height: 28px;
				line-height: 1.75;
				display: flex;
				color: white;
				background: $ssb-dark-5;
				border: 2px solid $ssb-dark-5;

				h2 {
					font-size: 16px;
				}
			}

			.list .list-arrow {
				display: none;
			}
		}
	}
}

@include media-breakpoint-down(xl) {
  .researchers {
		.row .container {
			max-width: 960px;
		}
	}
}

@include media-breakpoint-down(lg) {
  .researchers {
		.row .container {
			max-width: 760px;
		}
	}
}