.banner {
	// background-color: #f0f8f9;
	margin: 2rem 0;
	padding: 2rem 0;
}

.letter-list:first-of-type {
  margin-top: 0.8rem;
}

.letter-list {
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

.list-item {
	width: 100%;
	margin: 0.5rem 0 1.5rem 0;
	display: flex;
	justify-content: space-between;
}

.letter {
  width: 80px;
  height: 80px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $ssb-dark-5;
  background: white;
  color: $ssb-dark-5;
} 

.list {
	display: flex;
	justify-content: space-between;
  list-style: none;

	> div > div > span > a > .link-text {
		font-size: 14px;
	}
}

.list-arrow {
	display: flex;
  align-items: center;
}