.search-result {
  .search-result-head {
    background-color: $ssb-dark-1;

    .search-result-ingress {
      max-width: 780px
    }
  }

  .search-result-body {
    & > * {
      max-width: 580px;
    }  
  }
  .metadata {
    font-size: 14px;
  }
  .type {
    text-transform: capitalize;
  }
}