.search-result {
  .search-result-head {
    background-color: $ssb-dark-2;

    .search-result-ingress {
      max-width: 780px
    }

    .limit-result {
      display: block;
      font-size: 16px;
      font-family: $font-roboto-bold;
      font-weight: bold;
    }

    .ssb-input {
      max-width: 100%;
    }

    .ssb-dropdown.DropdownMainSubject, .ssb-dropdown.DropdownContentType {
      max-width: 100%
    }

    @include media-breakpoint-down(md) {
      .ssb-dropdown.DropdownContentType {
        padding-top: 20px;
      }
    }
  }

  .search-result-body {
    & > * {
      max-width: 580px;
    }

    .choose-sorting {
      display: flex;
      justify-content: end;
      .sort-title {
        margin-right: 12px;
      }
      .ssb-radio-group .flex-row {
        gap: 20px;

        .ssb-radio {
          min-width: 0;
        }
      }
      
    }

    @include media-breakpoint-down(md) {
      .choose-sorting {
        justify-content: start;
        padding-left: 0;
        padding-top: 20px;
      }

      .total-hits {
        padding-left: 0;
      }
    }
  }
  .metadata {
    font-size: 14px;
  }
  .type {
    text-transform: capitalize;
  }

  @include media-breakpoint-down(md) {
    h1 {
      margin-bottom: 20px;
    }

    .search-result-dropdown {
      padding: 0;
    }
  }
}