@use 'bootstrap' as *;
@use '@statisticsnorway/ssb-component-library/src/main.scss' as *;

.statistic-contacts {
  margin-top: 4.5rem;
  margin-bottom: 5rem;

  .content-wrapper {
    background-color: white;
    padding: 1.5rem 2.5rem 4.5rem;
    border-radius: 32px;
  }

  .title-wrapper {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    align-items: center;

    h2 {
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
  }

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $ssb-green-4;
    border-radius: 8px;
    padding: 2rem 2rem 0;

    .contact {
      margin-bottom: 1.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .email,
    .phone {
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    border-radius: 22px;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .content-wrapper {
      padding: 1rem 1rem 2rem;
    }

    .title-wrapper {
      margin-top: 1rem;
    }

    .contact-wrapper {
      padding: 1.25rem;
    }

    .contact {
      margin-bottom: 1.5rem;
    }
  }
}
