.part-statbank-box {

  .statbank-link {
    text-decoration: none;
    width: 100%;
  }

  .content {
    background: $ssb-white;
    border: 1px solid $ssb-dark-2;
    border-top: 5px solid $ssb-green-3;
    display: flex;
    padding: 15px 40px;
    width: 100%;
  }

  .title {
    display: table;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
    border-bottom: 2px solid $ssb-green-4;
    padding-top: 30px;
    margin-left: 20px;

    @include media-breakpoint-down (md) {
      padding-top: 10px;
    }

  }

  .icon-wrapper {
    width: 100px;
    height: 100px;

    @include media-breakpoint-down (md) {
      width: 50%;
      height: 50%;
    }
  }
}
