.statistic-figures {
  background-color: white;
  padding: 40px;
  margin-top: 100px;
  border-radius: 32px;

  .title-wrapper {
    display: flex;
    h2 {
      margin-bottom: 30px;
    }
    .icon-wrapper {
      margin-left: auto;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .part-accordion {
    padding: 10px;
    div ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  .statbank-box {
    padding: 60px 55px 30px 55px;

    .content {
      align-items: center;
      background: $ssb-white;
      border: 1px solid $ssb-dark-2;
      border-top: 5px solid $ssb-green-3;
      display: flex;
      padding: 25px;
      width: 100%;

      .icon-wrapper {
        img {
          width: 80px;
          height: 110px;
        }
      }

      .title-text-wrapper {
        margin-left: 40px;

        .title {
          color: $ssb-dark-6;
          display: block;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 10px;
        }
      }

      &:focus,
      &:hover {
        outline: $ssb-purple-3 solid 2px;
        outline-offset: 1px;
      }

      .arrow-icon {
        color: $ssb-green-3;
        margin-left: auto;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 40px 20px;

    .part-accordion {
      padding: 0;

      .accordion-body {
        overflow-x: auto;
        padding: 0;
      }
    }

    .nested-accordion-body {
      overflow-x: auto;
    }

    .statbank-box {
      padding: 40px 0;

      .content {
        display: block;

        .title-text-wrapper {
          margin-left: 0;
        }
      }
    }
  }
}
