.statistic-description {
  background-color: white;
  padding: 40px;
  margin-top: 100px;
  border-radius: 32px;

  .title-wrapper {
    display: flex;
    h2 {
      margin-bottom: 30px;
    }
    .icon-wrapper {
      margin-left: auto;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .om-statistikken-tags {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    .ssb-tag.active {
      background: $ssb-green-4;
      color: $ssb-white;
    }

    .ssb-tag:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  .selected-category {
    .ssb-expansion-box.sneak-peek .content.closed {
      max-height: 8rem;
    }
  }
}
