.statistic-figures {
  background-color: white;
  padding: 1.5rem 2.5rem 4.5rem;
  border-radius: 2rem;

  .title-wrapper {
    display: flex;
    h2 {
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
    .icon-wrapper {
      margin-left: auto;
    }
  }

  .part-accordion {
    padding: 10px;
    div ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .accordion-body {
      padding-right: 0;
    }

    .part-table {
      width: 100%;

      .ssb-link {
        margin-top: 0;
      }
    }
  }

  .statbank-box {
    padding: 70px 55px 10px 55px;

    .content {
      align-items: center;
      background: $ssb-white;
      border: 1px solid $ssb-dark-2;
      border-top: 5px solid $ssb-green-3;
      display: flex;
      padding: 25px;
      width: 100%;

      .icon-wrapper {
        img {
          width: 80px;
          height: 110px;
        }
      }

      .title-text-wrapper {
        margin-left: 2.5rem;

        .title {
          color: $ssb-dark-6;
          display: block;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 10px;
        }
      }

      &:focus,
      &:hover {
        outline: $ssb-purple-3 solid 2px;
        outline-offset: 1px;
      }

      .arrow-icon {
        color: $ssb-green-3;
        margin-left: auto;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 2.5rem 1.25rem;

    .statbank-box {
      padding: 2.5rem 0.5rem;

      .content {
        display: block;

        .title-text-wrapper {
          margin-left: 0;
        }
      }
    }
  }
}
