.part-statbank-box {

  .statbank-link {
    display: block;
    text-decoration: none;
    width: 100%;

    &:focus {
      outline: $ssb-purple-3 solid 2px;
      outline-offset: 1px;
    }

    &:hover {

      .title {
        background-color: $ssb-green-4;
        border-bottom: none;
        color: $ssb-white;
        margin-bottom: 10px;
      }
    }
  }

  .content {
    background: $ssb-white;
    border: 1px solid $ssb-dark-2;
    border-top: 5px solid $ssb-green-3;
    display: flex;
    padding: 15px 30px;
    height: 130px;
    width: 100%;
  }

  .icon-wrapper img {
    width: 100px;
    height: 100px;
  }

  .title-wrapper {
    display: -webkit-box;
    align-items: center;
    margin-left: 30px;

    .title {
      display: inline;
      font-size: 20px;
      font-weight: bold;
      color: black;
      border-bottom: 2px solid $ssb-green-4;
      line-height: 1.5;
    }
  }




}
