.statistics {
  & > .row > .col-12 {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .titles-dates-wrapper {
    .col-12 {
      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
  }

  .ingress-wrapper {
    margin-bottom: $spacer * 2;
    font-size: 1.25rem;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
}
