.statbank-subject-tree{

  .statbank-subject-tree-head {
    background-color: $ssb-dark-1;

    .statbank-subject-tree-preface {
      max-width: 780px
    }
  }

  .statbank-list {
   list-style: none;
    padding: 0
  }
}