.statistics {
  .titles-dates-wrapper {
    @include make-row;

    > * {
      @include make-col-ready();
      @include make-col(12);

      h1 {
        margin-bottom: $spacer * 3;
        padding: 0;
      }

      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
  }
}
