.ssb-timeline {
  position: relative;
  margin-right: 40px;

  &:before {
    content: '';
    width: 10px;
    height: 100%;
    background: #00824d;
    position: absolute;
    top: 0;
    left: 100%;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }

  .timeline-content {
    float: right;
    position: relative;
    margin-bottom: 30px;
    width: 90%;

    &.first {
      .year {
        width: 100%;
        height: auto;
        background: #274247;
        position: absolute;
        right: -60px;

        span {
          @include roboto-condenced;
          color: #fff;
          padding: 20px 40px;
          font-size: 2rem;
          float: right;
        }
      }

      .content {
        margin-top: 40px;
      }
    }

    .year {
      background: #fff;
      width: 120px;
      height: 48px;
      margin-top: 27px;
      margin-right: 25px;
      position: absolute;
      z-index: 2;

      span {
        @include roboto-condenced;
        color: #192326;
        margin: auto;
        font-size: 44px;
      }
    }

    .line {
      width: 100%;
      height: 5px;
      background: #00824d;
      float: right;
      margin-top: 50px;
      left: 90px;
    }

    .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #00824d;
      border: 2px solid #fff;
      position: absolute;
      top: 36px;
      right: -20px;
      z-index: 2;
    }

    .content {
      padding: 90px 32px 0px 32px;
      width: 100%;
      min-width: 400px;
      position: relative;

      .event-content,
      .timeline-event {
        margin-bottom: 30px;
        position: relative;
        right: -60px;

        @include media-breakpoint-down(sm) {
          right: -10px;
        }
      }
    }

    .timeline-event {
      @include roboto-condenced;
      background: #fff;
      border: 2px solid $ssb-green-4;
      border-radius: 8px;
      font-size: 20px;
      display: grid;
      padding: 20px 40px;
      width: 100%;
    }
  }
}
