.ssb-timeline {
  .filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-top: 1.5rem;
    margin-bottom: 8rem;

    .ssb-tag {
      &.active {
        background: $ssb-dark-5;
        border: 2px solid $ssb-dark-5;
        color: $ssb-white;
      }
    }
  }
  .timeline {
    position: relative;
    margin-right: 40px;
    padding-left: 200px;
    transition: transform 0.9s ease-in-out;

    &.active {
      transform: scale(1.1);
    }

    .circle {
      width: 16px;
      height: 16px;
      background-color: #274247;
      border-radius: 50%;
      position: absolute;
      top: -10px;
      transform: translateX(-40%);
    }

    &:before {
      content: '';
      width: 4px;
      height: 100%;
      background: #274247;
      position: absolute;
      top: 0;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      clear: both;
    }

    .timeline-elements {
      padding-top: 25px;
    }

    .timeline-content {
      left: -10px;
      position: relative;
      margin-bottom: 30px;
      width: 90%;

      .year {
        width: 180px;
        height: 80px;
        background: #274247;
        border-radius: 4px;
        position: absolute;
        //left: -10px;
        align-content: center;

        span {
          @include roboto-condenced;
          color: #fff;
          padding: 20px 40px;
          font-size: 28px;
          //float: right;
        }
      }

      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-right: 20px solid #f0f8f9;
        border-radius: 4px;
        left: 160px;
      }

      .content {
        padding: 90px 32px 0px 32px;
        width: 100%;
        min-width: 400px;
        position: relative;

        .event-content,
        .timeline-event {
          margin-bottom: 30px;
          position: relative;

          @include media-breakpoint-down(sm) {
            right: -10px;
          }
        }
      }

      .timeline-event {
        @include roboto-condenced;
        background: #fff;
        border: 2px solid $ssb-green-4;
        border-radius: 8px;
        font-size: 20px;
        display: grid;
        padding: 20px 40px;
        width: 100%;
      }
    }
  }
}
