.nextStatisticsReleases {
  padding-top: 8px;

  @include media-breakpoint-up(md) {
    padding-top: 59px;
  }

  .upcoming-releases-head {
    background-color: $ssb-dark-1;

    .upcoming-releases-preface {
      max-width: 780px
    }
  }

  article {
    display: flex;

    &.first li:first-child{
      padding-top: 12px;
    }

    &:nth-child(1) ol{
      border-top: 1px solid $ssb-dark-5;
    }

    &:last-child .releaseList {
      border-bottom: 0 none;
    }
  }

  .releaseList {
    list-style: none;
    border-bottom: solid 1px #c3dcdc;
    padding: 0;
    width: 100%;

    &:first-child {
      background: orange
    }
    .ssb-paragraph:first-letter{
      text-transform: capitalize;
    }

    @include media-breakpoint-up(lg) {
      li {
        display: flex;
        justify-content: space-between;
      }
    }

    @include media-breakpoint-down(md) {
      .statisticsPageLink {
        margin-bottom: $spacer * 3;
      }
    }
  }

  .button-more, .text-center {
    margin-top: $spacer * .5;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(md) {
      margin-top: none;
    }
  }

  time {
    border: 2px solid $ssb-dark-5;
    width: 97px;
    height: 80px;
    margin: 3.5px 20px 3px 0;
    text-align: center;

    .day {
      font-size: 40px;
      font-family: $font-roboto-condensed-bold;
      line-height: 1;
      display: block;
      margin-top: 7px;
    }
  }

  .metadata {
    font-size: 14px;
  }
  .type {
    text-transform: capitalize;
  }

}
