$grid-gutter-width: 20px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1260px,
  // Extra Extra large / 1440p and up
  xxl: 2000px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
);

@import "bootstrap";
@import "@statisticsnorway/ssb-component-library/src/main.scss";

@import "./map";
@import "./color";
@import "./font";
@import "./header";
@import "./footer";
@import "./menuBox";
@import "./dashboard";
@import "./button";
@import "./variableCardsList";
@import "./layout";
@import "./banner";
@import "./popper";
@import "./dropdown"; // TODO: remove when implemented correctly from design system
@import "./highchart";
@import "./keyFigures";
@import "./menuDropdown";
@import "./menu";
@import "./preface";
@import "./globalStyles";
@import "./infoGraphic";
@import "./profiledBox";
@import "./article";
@import "./contacts";
@import "./relatedContentBox";
@import "./profiledLinkIcon";
@import "./downloadLink";
@import "./relatedArticles";
@import "./relatedExternalLinks";
@import "./relatedFactPage";
@import "./statistics";
@import "./relatedStatistics";
@import "./statbankBox";
@import "./articleArchive";
@import "./table";
@import "./statbankLinkList";
@import "./attachmentTablesFigures";
@import "./omStatistikken";
@import "./404";
@import "./externalCard";
@import "./endedStatistics";
@import "./frontPageBanner";
@import "./frontpage";
@import "./entryLinks";
@import "./upcomingReleases";
@import "./articleList";
@import "./calculator";
@import "./categoryLinks";
@import "./nameSearch";
@import "./publicationArchive";
@import "./statbankSubjectTree";
@import "./contactForm";
@import "./searchResult";
@import "./localSearch";
@import "./bestbet";

body {
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: $font-open-sans;
  line-height: normal; // override bootstrap global line-height style
  overflow-x: hidden; // removes horisontal scroll bar created by part preface
}

section {
  width: 100%;
}

section + section, .xp-layout + .xp-layout {
  margin-top: $spacer * 3;
}

section.part-divider + section.part-divider {
  display: none;
}

.part-error {
  background-color: $ssb-red-3;
}

.bkg-grey {
  background-color: $ssb-dark-1;
}

.region-grey {
  background-color: $ssb-dark-1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.premain {
  max-width: 100%;
  background: white;
}

.row {
  @include media-breakpoint-down(md) {
    margin-right: 0;
    margin-left: 0;
  }
}

.xp-region {
  @include media-breakpoint-down(md) {
    margin: 0 auto;
    width: 95%;
  }
}
