$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1280px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

@import "bootstrap";
@import "@statisticsnorway/ssb-component-library/src/main.scss";

@import "./map";
@import "./color";
@import "./font";
@import "./header";
@import "./menu-box";
@import "./accordion";
@import "./dashboard";
@import "./button";
@import "./datasets";
@import "./factbox";
@import "./layout";
@import "./banner";
@import "./popper";
@import "./dropdown"; // TODO: remove when implemented correctly from design system
@import "./highchart";
@import "./key-figures";
@import "./menuDropdown";
@import "./menu";
@import "./preface";
@import "./global-styles";
@import "./infoGraphic";
@import "./_profiledBox";

body {
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: $font-open-sans;
  line-height: normal; // override bootstrap global line-height style
  overflow-x: hidden; // removes horisontal scroll bar created by part preface
}

.ingress {
  font-size: 20px;
  line-height: 1.7;
  p:last-child {
    margin-bottom: 40px
  }
}

.article h2 {
  font-size: 20px;
}


.row + section, section + section {
  margin-top: 20px;
}

.a-plain {
  color: #212529;
  outline: none;
  text-decoration: none;
  &:hover {
    color: #212529;
    text-decoration: none;
  }
}

.a-white {
  color: white;
  &:hover {
    transition: all .2s;
    color: #CCCCCC;
  }
}

a.btn {
  text-decoration: none;
}

footer {
  margin-top: 40px;
}



.bkg-grey {
  background-color: $ssb-dark-1;
}

// class used to hide elements from sighted users and still allowing it to be picked up by screen readers
.screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
