$grid-gutter-width: 20px;

$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 576px,
  // Medium screen / tablet
        md: 768px,
  // Large screen / desktop
        lg: 992px,
  // Extra large screen / wide desktop
        xl: 1260px,
  // Extra Extra large / 1440p and up
        xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px,
  xxl: 1400px
);

@use "bootstrap";
@use "@statisticsnorway/ssb-component-library/src/main.scss";
@use "./font";
@use "./header";
@use "./footer";


