.input-field-wrapper {
  cursor: text;
  display: flex;
  flex-direction: column;
  margin: $global-padding-size;
  position: relative;

  input {
    font-size: 16px;
    height: $input-field-height;
    padding: 4px $global-padding-size;
    text-overflow: ellipsis;
    width: 100%;

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
    }

    &.has-icon {
      padding-right: $input-field-height;
    }
  }

  label {
    cursor: text;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }

  .input-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: $input-field-height;
    justify-content: center;
    margin-left: -$input-field-height;
    width: $input-field-height;
  }

  .error-message {
    margin-top: 10px;
    font-size: 14px;
  }

  &.standard {
    &:hover {
      input {
        border: 2px solid $ssb-green-4;
      }
    }

    input {
      background: $ssb-white;
      border: 1px solid $ssb-dark-5;

      &:focus {
        border: 2px solid $ssb-green-4;
      }
    }

    label {
      color: $ssb-dark-6;
    }

    &.with-error {
      input {
        border: 2px solid $ssb-red-4;
      }
    }

    .error-message {
      color: $ssb-red-4;
    }

    .search-icon {
      color: $ssb-green-3;
    }

    .alert-icon {
      color: $ssb-red-4;
    }

  }

  &.negative {
    &:hover {
      input {
        border: 2px solid $ssb-green-2;
      }
    }

    input {
      background: transparent;
      border: 1px solid $ssb-white;
      color: $ssb-white;

      &:focus {
        border: 2px solid $ssb-green-2;
      }
    }

    label {
      color: $ssb-white;
    }

    &.with-error {
      input {
        border: 2px solid $negative-red;
      }
    }

    .error-message {
      color: $negative-red;
    }

    .search-icon {
      color: $ssb-green-2;
    }

    .alert-icon {
      color: $negative-red;
    }

  }


}
