.ssb-checkbox {
  @include roboto;
  color: $ssb-dark-6;
  cursor: pointer;
  display: block;
  font-size: 16px;
  min-width: 200px;
  outline: none;
  position: relative;
  text-align: left;
  transition: background .18s;
  user-select: none;

  &:hover, &:focus {
    background: $ssb-green-2;

    .checkbox-label {

      &:before {
        border: 2px solid $ssb-green-4;
      }
    }
  }

  input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    position: absolute;

    &:checked + .checkbox-label {

      &:before {
        background: $ssb-dark-5;
      }

      &:after {
        border: solid $ssb-white;
        border-width: 0 3px 3px 0;
        content: '';
        display: block;
        height: 12px;
        left: 17px;
        position: absolute;
        top: 13px;
        transform: rotate(45deg);
        width: 6px;
      }
    }

    &:disabled + .checkbox-label {
      color: $ssb-dark-2;

      &:before {
        border: 1px solid $ssb-dark-2;
      }
    }
  }

  .checkbox-label {
    cursor: pointer;
    display: block;
    padding: 10px 10px 10px 40px;

    &:before {
      background: $ssb-white;
      border: 1px solid $ssb-dark-5;
      border-radius: 2px;
      content: '';
      display: block;
      height: 20px;
      left: 10px;
      position: absolute;
      top: 10px;
      width: 20px;
    }
  }
}
