$large-number-size: 150px;
$medium-number-size: 100px;
$small-number-size: 50px;

.ssb-number {
  @include roboto-condenced;
  color: $ssb-dark-5;

  &.small {
    font-size: $small-number-size;
  }

  &.medium {
    font-size: $medium-number-size;
  }

  &.large {
    font-size: $large-number-size;
  }
}