
.divider-line {
  display: block;
  height: 2px;
  margin: 0;
  position: relative;
  width: 100%;

  &.dark {
    border-top: 1px solid $ssb-dark-6;
  }

  &.light {
    border-top: 1px solid rgba($ssb-dark-6, .25);
  }
}