<div class="col xp-layout">
  <div class="container">
    <div class="row">
      <h3 data-th-if="${hideTitle && title}" class="sr-only sr-only-focusable col" data-th-text="${title}"></h3>
      <h3 data-th-if="${!hideTitle && title}" class="layout-title col" data-th-text="${title}"></h3>
    </div>
  </div>
  <div class="row row-cols-1">
    <div class="col xp-region" data-portal-region="main">
      <div data-th-each="component, i : ${mainRegion.components}" data-th-remove="tag">
        <div data-portal-component="${component.path}" data-th-remove="tag" />
      </div>
    </div>
  </div>
</div>
