.ssb-block-content {
  @include open-sans;
  background: $ssb-white;
  border-top: 4px solid $ssb-green-3;
  box-shadow: 0 2px 4px 1px rgba(200, 200, 200, .5);
  box-sizing: border-box;
  max-width: 1200px;
  padding: 100px;
  position: relative;
  width: 100%;

  .page-number {
    @include roboto;
    color: $ssb-dark-3;
    font-size: 30px;
    margin-top: -35px;

    &:before {
      background: $ssb-green-3;
      content: '';
      display: inline-block;
      height: 22px;
      margin-right: 10px;
      width: 10px;
    }
  }
}
