.nested-accordion-wrapper {
  display: grid;
  min-width: 300px;
  width: 100%;

  .nested-accordion-header {
    align-items: center;
    cursor: pointer;
    display: grid;
    grid-column-gap: $global-padding-size;
    grid-template-columns: $global-padding-size 1fr;

    .expand-icon {
      color: $ssb-green-3
    }

    &:hover {
      .header-text {
        color: $ssb-green-4;
      }
    }

    &.open {
      .header-text, .sub-header {
        color: $ssb-green-4;
      }

      .expand-icon {
        color: $ssb-green-4;
      }
    }
  }

  .nested-accordion-body {
    padding: $global-padding-size $global-padding-size $global-padding-size 20px;

    &.closed {
      display: none;
      height: 0;
    }
  }
}
