.tree-menu-wrapper {
  display: flex;
  position: relative;

  .items-section {
    background: $ssb-white;
    position: absolute;
    width: 100%;
    z-index: 2;

    &.sub-menu {
      border: 1px solid $ssb-dark-5;
    }
  }

  .tree-node {
    align-items: center;
    color: $ssb-dark-6;
    display: flex;
    height: 35px;
    justify-content: space-between;
    padding: 0 $global-padding-size;
    position: relative;
    text-decoration: none;

    .arrow-icon {
      color: $ssb-green-4;
    }

    &:hover {
      background: $ssb-green-2;
      cursor: pointer;
    }

    &.selected {
      background: $ssb-green-4;
      color: $ssb-white;

      .arrow-icon {
        color: $ssb-white;
      }
    }

    .expanded-menu {
      position: absolute;
      right: -25px;
    }
  }
}