$accordion-link-color: #0774d0;
$accordion-hover-color: #a53d7c;
$accordion-active-color: #a53d7c;

.part-accordion {
  position: relative;
  a.d-block {
    color: $accordion-active-color;
  }
  a.collapsed {
    color: #333333;
  }
  .accordion-bullet {
    position: relative;
    font-style: normal;
    position: absolute;
    width: 30px;
    height: 30px;
    padding-right: 30px;
    border-radius: 50%;
    background-color: $accordion-active-color;
  }
  a.collapsed .accordion-bullet {
    background-color: $accordion-link-color;
  }
  a.collapsed:hover .accordion-bullet {
    background-color: $accordion-hover-color;
  }
  a.collapsed:hover .accordion-bullet-inverse {
    background-color: white;
  }
  .accordion-bullet-inverse {
    background-color: white;
  }
  a.collapsed .accordion-bullet-inverse {
    color: $accordion-hover-color;
    background-color: white;
  }
  .accordion-bullet:before {
    top: 14px;
    left: 8px;
    position: absolute;
    content: "";
    width: 14px;
    border-bottom: 2px solid white;
  }
  .accordion-bullet:after {
    top: 14px;
    left: 8px;
    position: absolute;
    content: "";
    width: 14px;
    border-bottom: 2px solid white;
    transform: rotate(0deg);
    transition: all 0.3s;
  }
  a.collapsed .accordion-bullet:after {
    border-bottom: 2px solid white;
  }
  a.collapsed .accordion-bullet:before {
    transition: all 0.3s;
    transform: rotate(90deg);
  }
  .accordion-bullet-inverse:before {
    border-color: $accordion-link-color;
  }
  a span {
    font-size: 20px;
    margin-top: 3px;
    margin-left: 50px;
  }
  a:hover span {
    color: $accordion-hover-color;
  }
  .collapse-container {
    margin-top: 10px;
    margin-left: 50px;
    a.d-block .accordion-bullet-inverse:before {
      border-color: $accordion-hover-color;
    }
    a.d-block .accordion-bullet-inverse:after {
      border-color: $accordion-link-color;
    }
    a.d-block .accordion-bullet-inverse:after {
      border-color: $accordion-link-color;
    }
    a.d-block.collapsed .accordion-bullet-inverse:before {
      border-color: $accordion-link-color;
    }
    a.d-block:hover .accordion-bullet-inverse:before {
      border-color: $accordion-hover-color;
    }
    a.d-block:hover .accordion-bullet-inverse:after {
      border-color: $accordion-hover-color;
    }
    .collapse-container {
      margin-left: 35px;
    }
    a span {
      margin-left: 35px;
    }
  }
}
