$accordion-link-color: #0774d0;
$accordion-hover-color: #a53d7c;
$accordion-active-color: #a53d7c;

.part-accordion {
  position: relative;
  a.d-block {
    color: $accordion-active-color;
  }
  a.collapsed {
    color: #333333;
  }
  .accordion-bullet {
    font-style: normal;
    position: absolute;
    width: 35px;
    height: 35px;
    padding-right: 30px;
    border-radius: 50%;
    background-color: $accordion-active-color;
    content: " "
  }
  a.collapsed .accordion-bullet {
    background-color: $accordion-link-color;
  }
  a.collapsed:hover .accordion-bullet {
    background-color: $accordion-hover-color;
  }
  a.collapsed:hover .accordion-bullet-inverse {
    background-color: white;
  }
  .accordion-bullet-inverse {
    background-color: white;
  }
  a.collapsed .accordion-bullet-inverse {
    color: $accordion-hover-color;
    background-color: white;
  }
  .accordion-bullet:before {
    font-size: 24px;
    top: -2px;
    left: 13px;
    position: absolute;
    content: "-";
    color: white;
  }
  a.collapsed .accordion-bullet:before {
    top: -3px;
    left: 11px;
    content: "+";
  }
  .accordion-bullet-inverse:before {
    color: $accordion-link-color;
  }
  a span {
    font-size: 20px;
    margin-top: 3px;
    margin-left: 50px;
  }
  a:hover span {
    color: $accordion-hover-color;
  }
  .collapse-container {
    margin-top: 10px;
    margin-left: 50px;
    a.d-block .accordion-bullet-inverse:before {
      color: $accordion-hover-color;
    }
    a.d-block.collapsed .accordion-bullet-inverse:before {
      color: $accordion-link-color;
    }
    a.d-block:hover .accordion-bullet-inverse:before {
      color: $accordion-hover-color;
    }
    .collapse-container {
      margin-left: 35px;
    }
    a span {
      margin-left: 35px;
    }
  }
}
