.part-banner {
  overflow: hidden;
  background-color: $green3;
  padding: 50px 50px;
  color: white;
  h1 {
     line-height: 1.0;
  }
  img {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}
