$font-roboto-plain: 'Roboto', sans-serif;
$font-roboto-bold: 'Roboto Condensed script=latin rev=2', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

.roboto-bold {
  font-family: $font-roboto-bold;
  font-weight: 700;
}

.roboto-plain {
  font-family: $font-roboto-plain;
  font-weight: 400;
}
