.key-figures {
  .number-component {
    line-height: 1.2em;
  }
  .icon-container {
    padding-top: 10px;
    padding-right: 20px;
    &.small {
      width: 130px;
    }
    &.medium {
      width: 180px;
    }
    &.large {
      width: 230px;
    }
  }
}
