.key-figures {
  .ssb-number {
    line-height: normal;
  }
  .icon-container {
    padding-top: 10px;
    padding-right: 20px;
    &.small {
      min-width: 130px;
    }
    &.medium {
      min-width: 180px;
    }
    &.large {
      min-width: 230px;
    }
  }
}
.key-figures + .key-figures, .popper + .key-figures {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 2px solid #a2baba;
}
