.border-top-green {
  padding-top: 20px;
  border-top: 5px solid $green3;
  background: #ffffff;
  box-shadow: 1px 1px 5px #c8c8c8;
  margin-top: 30px;
}
.layout-topic+.layout-topic {
  margin-top: 40px;
}
.section-number {
  color: #b0b0b0;
}
.section-number::before {
  content: "";
  width: 10px;
  height: 15px;
  display: inline-block;
  background-color: $green3;
}
.section-number::after {
  margin-left: 6px;
  counter-increment: section-counter;
  content: "0" counter(section-counter) // Anticipate less than 10 sections ;-)
}
