#map {
  background-color: #f0f8f9;
  height: calc(80vh - 80px - 120px);
  padding: 20px;
  @include media-breakpoint-down(md) {
    height: calc(100vh - 80px - 120px);
  }
}
.part-map {
  z-index: 3;
  opacity: 1;
  background-color: white;
}
.map-container {
  top: 80px;
  width: 100vw;
  position: fixed;
  height: calc(100vh);
  z-index: 9999;
  background-color: rgba(39,66,71,0.7);
  .part-map {
    padding: 20px;
    @include media-breakpoint-down(md) {
      height: calc(100vh - 80px - 120px);
      padding: 0px;
      margin-left: -15px;
    }
  }
}
.overflow-y {
  overflow-y: hidden;
}
