#ssb-menu {
    #header {
        background: no-repeat scroll center -118px #ececec;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 1em;
        min-height: 166px;
        // max-width: 960px;

        &.menu-closed {
            background-color: white;
            border-bottom: 0;
        }
    }

    #statistikker-hovedmeny{
        a {
            color: #212529;
            outline: none;
            text-decoration: none;
            &:hover {
              color: #212529;
              text-decoration: underline;
            }
          }
    }

    #topic-link {
        color: #212529;
        outline: none !important;
        text-decoration: none;
        &:hover {
          color: #212529;
          text-decoration: underline;
        }
      }

    #logo {
        display: block;
        float: left;
        margin: 20px 0 24px;

        img {
            height: 58px;
            image-rendering: optimizeQuality;
        }
    }

    // Overrides for zoom levels
    body.large {

        #header {
            background: url('../images/top-banner.png') no-repeat scroll center -73px #eee;
        }

        #logo {
            margin: 30px 0 36px;
        }
    }
    body.extra-large {

        #header {
            background: url('../images/top-banner.png') no-repeat scroll center -14px #eee;
        }

        #logo {
            margin: 40px 0 64px;
        }
    }


    #search {
        float: right;
        clear: right;
        margin-bottom: 10px;

        input[type='submit']:hover,
        input[type='submit']:focus {
            cursor: pointer;
            color: #636363;
            background-color: white;
        }
    }

    #search,
    #search2 {

        label {
            position: absolute;
            left: -9999px;
        }

        input[type='submit'] {
            background-color: #636363;
            background-image: none;
            color: white;
            text-transform: uppercase;
            border: 0;
            // font-size: 1.5em;
            // padding: 0.1em 0.6em 0.2em 0.6em;
            // margin-left: 0.2em;
            vertical-align: middle;
        }
    }

    #sok {
        // font-size: 1.4em;
        // width: 15em;
        // padding: 0.4em 0.2em 0.5em 2.25em;
        border: 0;
        box-shadow: 0 0 2px #888 inset;
        background: url('../images/magnifying-glass-23-21.png') no-repeat scroll 0.5em center white;
        vertical-align: middle;
    }

    #sok-404 {
        // font-size: 1.3em;
        height: 19px;
        // width: 23.5em;
        border: 1px solid #808080;
        border-right: none;
        vertical-align: middle;

        label {
            position: absolute;
            left: -9999px;
        }

        input[type='submit'] {
            vertical-align: bottom;
            height: 23px;
            // margin-top: 0.1em;
            // padding: 1px 6px;
            // font-size: 0.9em;
            text-transform: uppercase;
            border: 1px solid #808080;
            background: transparent url('../images/button-shade.png') repeat-x left top;

            &:hover,
            &:focus {
                cursor: pointer;
                border-color: #505050;
                background-image: url('../images/button-shade-hover.png');
            }
        }
    }

    #global-tools {
        margin: 1.4em 0;
        float: right;

        form {
            margin-right: 1em;
        }
    }


    ul.nav {
        list-style-type: none;

        li a {
            text-decoration: none;
        }
    }

    .global-links {

        &.nav {
            text-transform: uppercase;
            font-size: 1.4em;

            li {
                display: inline;
            }

            & > li {
                display: block;
                float: left;
                line-height: 1.4;
                border-bottom: 1px solid #aaa;
                margin-left: 1em;

                &.selected {
                    border-bottom: 0;
                }
            }

            &.below {
                color: #000;
                font-size: 1.0em;
                float: none;
                line-height: 2.2em;

                li {

                    a {
                        color: #000;

                        &.selected {
                            font-weight: bold;
                        }
                    }

                    img {
                        vertical-align: sub;
                        margin-right: 0.4em;
                    }
                }
            }
        }

        &.content {
            line-height: 1.9em;
            margin-right: 0.2em;

            a.selected {
                font-weight: bold;
            }
        }


    }


    // Zoom functionality
    #letter-size {

        li {
            margin-left: 0;
            line-height: 1;
        }

        .size-l {
            font-size: 1.2em;
        }

        .size-xl {
            font-size: 1.4em;
        }
    }


    #topmenu {
        background-color: #f1efe0;
        height: 2.6em;
        padding-top: 0.2em;
        overflow: visible;
    }
    .innholdsside #topmenu {
        margin-left: 0;
        width: 100%;
    }


    #site-nav-first-item {
        margin-right: 0;
    }

    #site.nav {
        float: left;
        height: 2.6em;
        border-bottom: 1px solid #808080;

        li {
            float: left;
            text-align: center;

            a {
                color: #333;
                display: block;
                font-size: 1.2em;
                font-weight: bold;
                white-space: nowrap;
                padding: 0.6em 1em 0.4em;
                height: 1.15em;
            }

            &.active {
                background-color: #fff;
                border-left: 1px solid #808080;
                border-right: 1px solid #808080;
                border-top: 1px solid #808080;
                margin-bottom: -1px;

                a {
                    padding-top: 0.5em;
                    height: 1.25em;

                    &:hover {
                        padding-top: 0.5em;
                    }
                }
            }

            &.back-link {
                width: 19em;
                text-align: left;
                overflow: hidden;

                &:hover {
                    background-color: #fff;
                }

                span {
                    color: #8dbb2b;
                    font-size: 1.7em;
                    float: left;
                    padding: 0.3em 0 0.4em 0.3em;
                    height: 0.85em;
                }

                a {
                    width: 12em;
                    color: #333333;
                    padding: 0.6em 0.5em 0.45em;
                    height: 1.15em;
                    float: left;
                }
            }
        }

        a:hover {
            background-color: #fff;
        }
    }

    .innholdsside #site.nav {
        width: 100%;
    }

    .leteside #site.nav li.back-link {
        display: none;
    }


    #navigation-path {
        margin-bottom: 3em;
        overflow: hidden;

        .nav {
            overflow: hidden;

            li {
                float: left;
                margin-right: 0.5em;
                font-size: 1.3em;
                line-height: 1.3em;

                a {
                    line-height: 1.3em;
                    text-decoration: underline;

                    &:hover {
                        color: #a53d7c;
                    }

                    &:after {
                        color: #000;
                    }
                }
            }
        }
    }

    #breadcrumbs {
        float: left;
        width: 90em;
    }

    #print-page {
        display: none;
        float: right;
    }


    #letter-size {

        * {
            font-size: 0.9em;
        }

        ul {
            display: inline;
        }

        li:after {
            content: '';
        }
    }


    #global-language > div {
        display: inline; // fixes rendering bug in ICE mode
    }

    #sprak-bytte {
        text-transform: none;

        &.closed {
            position: absolute;
            left: -9999px;
        }

        &.open {
            left: -11.07em;
        }

        .dialog-content {
            padding: 1.429em 2.143em;
            width: 20.71em;
        }

        .dialog-heading {
            font-size: 1.143em;
        }

        p {
            font-size: 0.929em;
        }

        .more-link {
            font-size: 1em;
            text-decoration: underline;

            &:after {
                content: '';
            }
        }
    };

}
