.part-menu-dropdown {
  background-color: white;
  .container >div {
    height: 100px;
  }
  .opacity-zero {
    opacity: 0;
  }
  .opacity-one {
    opacity: 1;
    transition: all .5s;
  }
  .municipality {
    font-size: 20px;
    line-height: normal;
  }
  .subtitle {
    font-size: 14px;
  }
  .button-search {
    color: $green3;
    top: 3px;
    right: 10px;
    height: 20px;
    width: 20px;
    
  }
  .button-search svg {
    width: 20px;
  }
  .dropdown {
    left: 0;
  }
  .dropdown-menu {
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30vh;
  }
  #input-query-municipality {
    margin-left: 20px;
  }
  .ssb-input {
    width: 280px;
    border-color: $ssb-dark-6;
    flex-direction: unset; // override design system
  }
  .show-map {
    margin-left: 30px;
    text-decoration: none;
    color: #030303;
    i {
      color: $green4;
    }
  }
 .ssb-dropdown {
   width: 100%; // Override design system
   min-width: 100%; // Override design system
   max-width: 100%; // Override design system
 }
}
