.part-menu-dropdown {
  background-color: white;
  .opacity-zero {
    opacity: 0;
  }
  .opacity-one {
    opacity: 1;
    transition: all .5s;
  }
  .municipality {
    font-size: 24px;
    line-height: normal;
  }
  .subtitle {
    font-size: 14px;
  }
  .button-search {
    color: $green3;
    top: 3px;
    right: 10px;
    height: 20px;
    width: 20px;
    
  }
  .button-search svg {
    width: 20px;
  }
  .dropdown {
    left: 0;
  }
  .dropdown-menu {
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30vh;
  }
}
