.menu-box {
  a {
  }
  img {
    width: 45%;
    margin-bottom: 60px;
  }
  h3 {
    font-size: 18px;
  }
  @include media-breakpoint-down(md) {
    h3 { font-size: 16px }
  }
  .position-absolute {
    font-size: 14px;
    padding: 20px;
    left: 15px;
    right: 15px;
    bottom: 0;
  }
}
