.menu-box {
  .a-plain {
    color: #212529;
    &:hover {
      text-decoration: none;
    }
  }
  h3 {
    bottom: 0;
    font-weight: 400;
    font-size: 1.0em
  }
  @include media-breakpoint-down(md) {
    h3 { font-size: 0.7em }
  }
}
