.part-menu-dropdown {
  .button-search {
    color: $green3;
    top: 3px;
    right: 10px;
    height: 20px;
    width: 20px;
    
  }
  .button-search svg {
    width: 20px;
  }
  h2 {
    font-size: 28px;
  }
  .dropdown {
    left: 0;
  }
  .dropdown-menu {
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30vh;
  }
}
