$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1280px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@statisticsnorway/ssb-component-library/src/main.scss";
@import "./map";
@import "./color";
@import "./font";
@import "./header";
@import "./menu-box";
@import "./accordion";
@import "./dashboard";
@import "./button";
@import "./datasets";
@import "./factbox";
@import "./layout";
@import "./banner";
@import "./popper";
@import "./dropdown"; // TODO: remove when implemented correctly from design system
@import "./highchart";
@import "./key-figures";
@import "./menu-dropdown";
@import "./menu";
@import "./preface";

body {
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: $font-open-sans;
  line-height: 1.7;
  overflow-x: hidden; // removes horisontal scroll bar created by part preface
}

.ingress {
  font-size: 20px;
  line-height: 1.7;
  p:last-child {
    margin-bottom: 40px
  }
}

h1,h2,h3,h4,h5 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 50px;
  line-height: 1.4;
}
h2 {
  font-size: 40px;
  line-height: 1.5;
}
h3 {
  font-size: 28px;
  line-height: 1.5;
}
h4 {
  font-size: 20px;
  line-height: 1.5;
}
h5 {
  font-size: 18px;
  line-height: 1.5;
}
h6 {
  font-size: 16px;
  line-height: 1.5;
}
.article h2 {
  font-size: 20px;
}
.row + section, section + section {
  margin-top: 20px;
}
a, .a-ssb {
  color: #003892;
  text-decoration: underline;
  &:hover {
    color: #a53d7c;
  }
}
.a-plain {
  color: #212529;
  outline: none;
  text-decoration: none;
  &:hover {
    color: #212529;
    text-decoration: none;
  }
}
.a-white {
  color: white;
  &:hover {
    transition: all .2s;
    color: #CCCCCC;
  }
}
a.btn {
  text-decoration: none;
}
.a-glossary {
  text-decoration: none;
  border-bottom: 1px dotted #003892;
}
.a-glossary:hover {
  text-decoration: none;
  border-bottom: 1px dotted #a53d7c;
}
footer {
  margin-top: 40px;
}

.bkg-grey {
  background-color: $ssb-dark-1;
}
