@import "../node_modules/bootstrap/scss/bootstrap";
@import "./color";
@import "./font";
@import "./header";
@import "./menu-box";
@import "./accordion";
@import "./button";
@import "./datasets";
@import "./factbox";
@import "./popper";
@import "./highchart";

body {
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: $font-open-sans;
  line-height: 1.7;
}
.ingress {
  font-size: 20px;
  line-height: 1.7;
}

h1,h2,h3,h4,h5 {
  font-family: $font-roboto-bold;
  font-weight: 700;
}
h1 {
  font-size: 56px;
  line-height: 1.4;
}
h2 {
  font-size: 28px;
  line-height: 1.5;
}
.row + section, section + section {
  margin-top: 20px;
}
a, .a-ssb {
  color: #003892;
  text-decoration: underline;
  &:hover {
    color: #a53d7c;
  }
}
.a-plain {
  color: #212529;
  outline: none;
  text-decoration: none;
  &:hover {
    color: #212529;
    text-decoration: none;
  }
}
.a-white {
  color: white;
  &:hover {
    transition: all .2s;
    color: #CCCCCC;
  }
}
a.btn {
  text-decoration: none;
}
.a-glossary {
  text-decoration: none;
  border-bottom: 1px dotted #003892;
  &:after {
    margin-left: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f4ad"
  }
}
.a-glossary:hover {
  text-decoration: none;
  border-bottom: 1px dotted #a53d7c;
}
