.tabs-component-wrapper {
  display: flex;
  flex-direction: row;

  .navigation-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: $global-padding-size;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background .2s;

    span {
      color: $ssb-dark-5;
      font-size: 18px;
      font-weight: bold;
    }

    &:hover {
      background: $ssb-green-2;
    }

    &:focus {
      outline: $ssb-green-4 auto 5px;
      outline-offset: -2px;
    }

    &.active {
      .active-bar {
        height: 5px;
      }
    }

    .active-bar {
      background: $ssb-green-3;
      bottom: 0;
      height: 0;
      left: 0;
      position: absolute;
      transition: height .2s;
      width: 100%;
    }
  }
}