# This workflow  merges a mable branch when a PR is closed

name: MERGE MABL FEATURE BRANCH

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  pull_request:
    types: [closed]
    branches: [master]
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "merge_mabl_branch"
  merge_mabl_branch:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: node:lts
    steps:
    - name: install mabl cli
      run: npm install -g @mablhq/mabl-cli
    - name: merge mabl branch
      env:
        MABL_API_KEY: ${{ secrets.MABLAPIKEY }}
      run: |
        echo running on branch ${GITHUB_HEAD_REF##*/}
        mabl auth activate-key $MABL_API_KEY
        mabl branches merge --from ${GITHUB_HEAD_REF##*/}
